<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <!-- Bootstrap Bundle with Popper -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <script defer src="../index.js"></script>
    <link href="../all.css" rel="stylesheet" />
    <link href="../mypage.css" rel="stylesheet" />

    <title>マイページ</title>
  </head>
  <body>
    <header>
      <div class="myrow" id="header-content">
        <button class="btn btn-dark" id="sidebar-disp">
          <span>-</span><span>-</span><span>-</span>
        </button>
        <div class="myrow" id="page-info">
          <div class="col-auto" id="username">name: <%= user.name %></div>
          <div class="col-auto" id="userid">ID: <%= user.employee_id %></div>
        </div>
        <a href="/channels/all" id="back-to-home" class="btn btn-light">
          HOME
        </a>
      </div>
    </header>

    <div id="below-header">
      <aside class="close">
        <div class="container-fluid">
          <ul>
            <li>
              <div class="row">
                <a href="/channel" class="channel btn" title="チャンネル作成"
                  >+</a
                >
              </div>
            </li>
            <% for (const channel of channels) { %>
            <li>
              <div class="row">
                <a
                  href="/channels/<%= channel.name %>"
                  class="channel btn"
                  data-bs-toggle="tooltip"
                  data-bs-plaecment="right"
                  title="<%= channel.name %>"
                >
                  <div class="ch-name"><%= channel.name %></div>
                </a>
              </div>
            </li>
            <% } %>
          </ul>
        </div>
      </aside>

      <div id="right-sidebar">
        <div id="content-body">
          <h1>マイページ</h1>
          <div class="container-fuild" id="user-info">
            <div>name: <%= user.name %></div>
            <div>ID: <%= user.employee_id %></div>
            <div>password: <%= user.password %></div>
            <div>
              <% if(user.position_id === 1) { %> position: マネージャー <% }
              else if (user.position_id === 2) { %> position: リーダー <% } else
              if (user.position_id === 3) { %> position: 社員 <% } %>
            </div>
            <form
              action="/mypage"
              method="post"
              id="change-myname-form"
              onsubmit="return beforeSubmit()"
            >
              <label for="new_name_content" class="message-content"
                >new name</label
              >
              <div class="input-new-name">
                <input
                  type="text"
                  name="new_name"
                  id="new_name_content"
                  placeholder="name"
                  required
                />
                <button>変更</button>
              </div>
            </form>
            <form
              action="/mypage"
              method="post"
              id="change-mypassword-form"
              onsubmit="return beforeSubmit()"
            >
              <label for="new_password_content" class="message-content"
                >new password</label
              >
              <div class="input-new-password">
                <input
                  type="text"
                  name="new_password"
                  id="new_password_content"
                  placeholder="password"
                  required
                />
                <button>変更</button>
              </div>
            </form>
          </div>
          <script>
            function beforeSubmit() {
              if (window.confirm("本当に変更しますか？")) {
                return true;
              } else {
                return false;
              }
            }
          </script>
          <form action="/logout" method="get" id="logout">
            <button class="btn btn-dark">logout</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
